# This ENV used for EC2 to get access from another AWS Service using IAM USER
#
# Install AWS CLI and jq (to enable GET PARAMETER from SSM)
packages:
  yum:
    aws-cli: []
    jq: []

commands:
  # Fetch AWS credentials from SSM and store them in environment variables
  01_fetch_aws_credentials:
    command: |
      export AWS_ACCESS_KEY_ID=$(aws ssm get-parameter --name "/course-catalog/production/AWS_ACCESS_KEY" --with-decryption --query "Parameter.Value" --output text)
      export AWS_SECRET_ACCESS_KEY=$(aws ssm get-parameter --name "/course-catalog/production/AWS_SECRET_KEY" --with-decryption --query "Parameter.Value" --output text)
      export AWS_DEFAULT_REGION=$(aws ssm get-parameter --name "/course-catalog/production/AWS_DEFAULT_REGION" --query "Parameter.Value" --output text)
      
      # Write credentials to a file for application to expect them in a specific file.
      mkdir -p $HOME/.aws
      echo -e "[default]\naws_access_key_id = $AWS_ACCESS_KEY_ID\naws_secret_access_key = $AWS_SECRET_ACCESS_KEY" > $HOME/.aws/credentials

option_settings:
  "aws:elasticbeanstalk:application:environment":
    AWS_ACCESS_KEY_ID: "AWS_ACCESS_KEY_ID"  # Use the environment variables after they are fetched
    AWS_SECRET_ACCESS_KEY: "AWS_SECRET_ACCESS_KEY"
    AWS_DEFAULT_REGION: "AWS_DEFAULT_REGION"